server:
  port: 8082

spring:
  application:
    name: order-query-service

axon:
  axonserver:
    servers: localhost:8124

spring:
  datasource:
    url: jdbc:h2:mem:orderdb
    driver-class-name: org.h2.Driver
    username: sa
